.firstContainer {
    display: flex;
    justify-content: center;
    padding-top: 3%;
    min-height: 100vh;
}

.firstContainer > div {
    width: 80%;
}

.modalContent{
    color: black;
}